{% extends 'navbar.html' %}
{% load static %}
{% block content %}


    <div class="container backpanels">
        <div class="panel panel-default backpanels">
            <h2 class= "judul">About</h2>
            <br>
            <br>
            <p class = satu>I am 19 years old. i am currently studying computer science <br>in university of indonesia </p>
            <br>
            <br>
            <h2 class = "judul">Skill</h2>
            <br>
            <p class="satu">Microsoft Word</p>
            <p class="satu">Python</p>
            <p class="satu">Java</p>
        </div>
    </div>


  {% endblock %}